body {
     
 background-color: lightgrey;
  padding: 0;
  margin-left: 25px;
  margin-right: 25px;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Roboto';
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: gray;
  color: white;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  position: absolute;
  background-color: #FFFFFF;
  color: black;
  font-size: 90px;
  -webkit-text-stroke: 2px black; 

  width: 700px;
  height: 100px;
  padding: 20px;

    font-family: sans-serif; color: black; 
    font-style: italic;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



h1 { color: #d54d7b; 
     font-family: "Great Vibes", 
     cursive; font-size: 165px; 
     line-height: 160px; 
     font-weight: normal; 
     margin-bottom: 0px; 
     margin-top: 40px; 
     text-align: center; 
     text-shadow: 0 1px 1px #fff; }




h2 {font-style: italic; color: green;}
   p {color: black;}

h3 {
     background-color: lightgrey;
     width: 100%;
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  font-family: "sans-serif"cursive;
   color: black; 
}


h4 {
     background-color: lightgrey;
     width: 100%;
  border: 20px lightgrey;
  text-align: center;
  font-size: 20px;
  font-family: "sans-serif"cursive;
   color: black;

}

#type {
     background: unset;
     display: table-cell;
     text-align: center;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.column {
  float: left;
  width: 32.9%;
  padding: 1px;
  margin-left: 2px;
  margin-right: 1px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
